<footer class="footer" style="padding: 1rem; padding-top: 2rem;">
  <div class="container has-text-centered">
      <p>
        <% if (bot.user.username != "Melonian") { %>
            <strong><%= bot.user.username %></strong>, based on Melonian, developed by <b>TheRandomMelon</b> and <a href="https://github.com/Melonz/Melonian/graphs/contributors">a few other contributors.</a> A <a href="//melonz.nl">Melonz</a> project.
        <% } else { %>
            <strong>Melonian</strong>, developed by <b>TheRandomMelon</b> and <a href="https://github.com/Melonz/Melonian/graphs/contributors">a few other contributors.</a> A <a href="//melonz.nl">Melonz</a> project.
        <% } %>
      </p>
      <br>
      <ul class="nav nocolor" style="justify-content: center;">
        <li class="nav-item">
            <a href="https://github.com/Melonz/Melonian" class="nav-link pl-0">
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
            </a>
        </li>
	  </ul>
  </div>
</footer>