<nav class="navbar has-shadow is-discord" style="border-radius: 0px;">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="nav-item">
                <img class="circle" src="/img/logo.png" style="margin-right: 7px;" alt="<%= bot.user.username %>">
                <b><%= bot.user.username %></b>
            </a>
            <div class="navbar-burger burger" data-target="nav-items">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="nav-items">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Home</a>
                <a href="/servertest" class="navbar-item">Server info test</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    Sign in (coming soon)
                </a>
            </div>
        </div>
    </div>
</nav>