<% if (s && bot.guilds.find(m => m.id === s) && selectMod && selectAdmin && botPrefix) { %>
	<% if (bot.guilds.find(m => m.id === s).roles.find(m => m.name === selectMod)) { %>
		<% bot.guilds.find(m => m.id === s).settings.update("mod", bot.guilds.find(m => m.id === s).roles.find(m => m.name === selectMod).id) %>
	<% } %>
			
	<% if (bot.guilds.find(m => m.id === s).roles.find(m => m.name === selectAdmin)) { %>
		<% bot.guilds.find(m => m.id === s).settings.update("admin", bot.guilds.find(m => m.id === s).roles.find(m => m.name === selectAdmin).id) %>
	<% } %>
			
	<% if (bot.guilds.find(m => m.id === s).settings.get("prefix") != botPrefix && botPrefix != "" && botPrefix != null && !botPrefix.includes(" ")) { %>
		<% bot.guilds.find(m => m.id === s).settings.update("prefix", botPrefix.trim()) %>
	<% } %>
			
	<% if (makePublic && makePublic === "on") { %>
		<% bot.guilds.find(m => m.id === s).settings.update("public", true) %>
	<% } else if (!makePublic && makePublic != "on") { %>
		<% bot.guilds.find(m => m.id === s).settings.update("public", false) %>
	<% } %>
	
	<% if (makeCertified && makeCertified === "on") { %>
		<% bot.guilds.find(m => m.id === s).settings.update("certified", true) %>
	<% } else if (!makeCertified && makeCertified != "on") { %>
		<% bot.guilds.find(m => m.id === s).settings.update("certified", false) %>
	<% } %>
	
	<% if (serverDesc && serverDesc.length <= 150) { %>
		<% bot.guilds.find(m => m.id === s).settings.update("serverDesc", serverDesc.trim()) %>
	<% } else if (serverDesc && serverDesc.length > 150) { %>
		<h1>Warning: Your server description is over 150 characters. Didn't apply it</h1>
	<% } %>
	
	<% if (serverInv && serverInv.trim().length >= 1) { %>
		<% if (bot.guilds.find(m => m.id === s).me.hasPermission("MANAGE_GUILD")) { %>
			<% let newInv = serverInv.replace("https://discord.gg/", ""); %>
			<% bot.guilds.find(m => m.id === s).fetchInvites().then(function(invites) { %>
				<% for (var i in invites.filter(m => m.temporary === false).array()) { %>
					<% if (invites.filter(m => m.temporary === false).array()[i].code === newInv.trim()) { %>
						<% bot.guilds.find(m => m.id === s).settings.update("serverInv", invites.filter(m => m.temporary === false).array()[i].code) %>
						<% break; %>
					<% } else { %>
						<% continue; %>
					<% } %>
				<% } %>
			<% }); %>
		<% } else { %>
			<h1>Warning: Melonian does not have the Manage Server permission, so the invite won't be set.</h1>
		<% } %>
	<% } %>
	
	<% if (bot.guilds.find(m => m.id === s).settings.get('certified')) { %>
		<% if (botSite && botSite.trim().length > 1) { %>
			<% function ValidURL(str) { %>
			  <% var regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/; %>
			  <% if(!regex.test(str)) { %>
				<% return false; %>
			  <% } else { %>
				<% return true; %>
			  <% } %>
			<% } %>
			<% if (!ValidURL(botSite.trim())) { %>
				<h1>Invalid website</h1>
				<% return false; %>
			<% } else { %>
				<% bot.guilds.find(m => m.id === s).settings.update("botSite", botSite.trim()); %>
			<% } %>
		<% } %>
		
		<% if (botTwitter && botTwitter.trim().length > 1) { %>
			<% let newTwitter = botTwitter.replace("https://twitter.com/", ""); %>
			<% newTwitter = newTwitter.replace("@", ""); %>
			<% bot.guilds.find(m => m.id === s).settings.update("botTwitter", botTwitter.trim()); %>
		<% } %>
	<% } %>
	
	<h1>All done!</h1>
	<h2>If you're not redirected soon, click <a href="/owner-dashboard/configure/?s=<%= s %>&applied=1">here</a>.</h2>
	
	<script>window.location.replace("/owner-dashboard/configure/?s=<%= s %>&applied=1");</script>
<% } else if (makeCertified && makeCertified === "on" && s) { %>
	<% bot.guilds.find(m => m.id === s).settings.update("certified", true) %>
	<script>window.location.replace("/owner-dashboard/");</script>
	
	<h1>All done!</h1>
	<h2>If you're not redirected soon, click <a href="/owner-dashboard/">here</a>.</h2>
<% } else if (makeCertified && makeCertified === "off" && s) { %>
	<% bot.guilds.find(m => m.id === s).settings.update("certified", false) %>
	<script>window.location.replace("/owner-dashboard/");</script>
	
	<h1>All done!</h1>
	<h2>If you're not redirected soon, click <a href="/owner-dashboard/">here</a>.</h2>
<% } else { %>
	<h1>hhhh</h1>
<% } %>